.opacity-item {
    -fx-opacity: 1.0;
}

.drop-zone {
    -fx-background-color: rgba(91, 91, 91, 0.9);
    -fx-background-radius: 10px;
    -fx-border-color: #3f3e3e;
    -fx-border-style: dashed;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-padding: 10px;
}

.drop-zone:hover {
    -fx-background-color: rgba(47, 45, 45, 0.8);
    -fx-border-color: #adaaaa;
}

.drop-zone.drag-over {
    -fx-background-color: rgba(200, 230, 255, 0.7);
    -fx-border-color: #4a90e2;
}

.drop-image {
    -fx-background-color: transparent;
    -fx-opacity: 0.4;
}

.no-display {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}